
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /php/Composer-Wordpress-Skeleton/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /php/Composer-Wordpress-Skeleton/index.php [L]
</IfModule>

# END WordPress
